h1 {
	font-family: 'Bangers', cursive;
	text-align: center;
	font-size: 80px;
	color: white;
	background: cover;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
.signupform {
background-position: center;
text-align: center;
max-width: 550px;
margin: 100px auto auto auto;
}